.container{
    border: 1px solid #000;
    min-height: 500px;
}
.container .head{
}
.container .head h1{
    list-style-type: none;
    display: block;
    font-size: 25px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    position: relative;
    width: 1200px;
    margin: auto;
}
#contact{
    color: #000;
    padding: 10px;
    /*max-width: 1210px;*/
    background: #5BCFF3 ;
    margin: auto;
}

.content .form{
    max-width: 100%;
    margin: auto;
}