/*#played_games{*/
    /*background: #008AAC;*/
    /*height: 600px ;*/
/*}*/

.container{
    min-height: 100%;
    color: #000;
    padding: 10px;
    /*max-width: 1210px;*/
    margin: auto;
}
.container .head{
}
.container .head h1{
    list-style-type: none;
    display: block;
    font-size: 25px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    position: relative;
    width: 1200px;
    margin: auto;
}
.container .content{
    position: relative;
    width: 1200px;
    margin: auto;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}
#played_games{
    background: #5BCFF3;

}
#upcoming_games{
    background: #123046;
}
