
.container{
    min-height: 500px;
    color: #ddd;
    padding: 10px;
    /*max-width: 1210px;*/
    margin: auto;
}
.container .head h1{
    list-style-type: none;
    display: block;
    font-size: 25px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    position: relative;
    width: 1200px;
    margin: auto;
}
.container .content{
    position: relative;
    width: 1200px;
    margin: auto;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}
/* background colors website */
#played_games{
    background: #123046;

}
#upcoming_games{
    background: #333;
}
#contact{
    background: #123046;
    /*max-width: 1210px;*/
}

/* contact */
#contact .form{
    max-width: 100%;
    margin: auto;
}