.codrops-header .start-button{
    color: #fff ;
    width: auto;
}

.codrops-header .background{
    width: auto;
    height: auto;
    padding: 20px;
    background: rgba(0,0,0,0.5);
    border: 2px solid #fff;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}