/* start button */
.codrops-header .start-button{
    color: #fff ;
    width: auto;
}
/* start background */
.codrops-header .background{
    width: auto;
    height: auto;
    padding: 20px;
    background: rgba(0,0,0,0.8);
    border: 2px solid #fff;
    -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
}

.codrops-header .background img {

}
.codrops-header{
    z-index: 10;
}
#boxgallery.boxgallery nav{
    z-index: 9000;
}
/* slider */
.slider .background{
    background-color: #123046  ;
    height: 100%;
}

.slider .arrows {
    left: 50%;
    margin-left: -650px;
    opacity: 0.3;
    transition: all 0.2s ease 0s;
    width: 1300px;
    top: 276px;
}
.slider:hover .arrows{
    opacity: 1;
}
.slider, .slider .slides, .slider .slides ul, .slider .slides ul li{
    height: 600px;
}

.slider .slides ul li{
    /*cursor: pointer;*/
}
.slider .slides ul li .all {
    position: absolute;
    left: 50%;
    width: 1200px;
    margin-left: -600px;
    font-family: arial, serif;
    font-size: 40px;
    font-weight: 400;
    top: 10px;
    height: 490px;
    margin-top: 20px;
    background: rgba(0,0,0,0.7);
    padding: 20px;
}
.slider .slides ul li .text {
    position: absolute;
    left: 50%;
    width: 1200px;
    margin-left: -600px;
    font-family: arial, serif;
    font-size: 25px;
    font-weight: 400;
    top: 50px;
    padding: 20px;
}
.slider .slides ul li .read-more {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.rss-feed .slides ul li .all{
}
.rss-feed .slides ul li .text{
}
.rss-feed .slides ul li .text p:last-child{
    display: none;
}