/* start button */
.codrops-header .start-button{
    color: #fff ;
    width: auto;
}
/* start background */
.codrops-header .background{
    width: auto;
    height: auto;
    padding: 20px;
    background: rgba(0,0,0,0.8);
    border: 2px solid #fff;
    -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
}

.codrops-header .background img {

}
/* slider */
.slider .background{
    background-color: #123046  ;
    height: 100%;
}

.slider .arrows {
    left: 50%;
    margin-left: -600px;
    opacity: 0.3;
    transition: all 0.2s ease 0s;
    width: 1200px;
    top: 276px;
}
.slider:hover .arrows{
    opacity: 1;
}
.slider, .slider .slides, .slider .slides ul, .slider .slides ul li{
    height: 600px;
}

.slider .slides ul li{
    /*cursor: pointer;*/
}
.slider .slides ul li .title {
    position: absolute;
    left: 50%;
    width: 1000px;
    margin-left: -500px;
    font-family: arial, serif;
    font-size: 40px;
    font-weight: 400;
    top: 10px;
    height: 490px;
}
.slider .slides ul li .text {
    position: absolute;
    left: 50%;
    width: 1000px;
    margin-left: -500px;
    font-family: arial, serif;
    font-size: 30px;
    font-weight: 400;
    top: 50px;
}
.slider .slides ul li .read-more {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/* revieuws page */

.container .header_image{
    max-width: 100%;
    max-height: 500px;
    margin: auto;
    text-align: center;
    background: #000 ;
}
.container .header_image img{
    max-width: 1200px;
    max-height: 500px;
}


/* footer */

#contact .footer{
    max-width: 100%;
    height: 200px;
    background: #333;
    text-align: center;
}

.head .date{
    font-size: 13px;
    float: right;
    margin: -30px ;

}

