/*#played_games{*/
    /*background: #008AAC;*/
    /*height: 600px ;*/
/*}*/

.container{
    min-height: 500px;
}
.container .head{
    border-bottom: 2px solid #fff;
}
.container .head h1{
    list-style-type: none;
    display: block;
    font-size: 25px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    position: relative;
    width: 1200px;
    margin: auto;
}
#played_games{
    background: #008AAC;
}
#upcoming_games{
    background: #123046;
}
/*#played_games .head{*/
    /*border-bottom: 2px solid #fff;*/
/*}*/
/* upcomin games */

/*#upcoming_games .head{*/
    /*border-bottom: 2px solid #fff;*/
/*}*/

/*#upcoming_games{*/
    /*background: #123046;*/
    /*height: 600px ;*/
/*}*/

/*#upcoming_games .head h1{*/
    /*list-style-type: none;*/
    /*display: inline-block;*/
    /*font-size: 25px;*/
    /*font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;*/
    /*padding-left: 25px;*/
/*}*/