#header-pos{
    position: relative;
    width: 100%;
    height: 100px;
    display: none;
}
#header{
    position: relative;
    top: 0;
    width: 100%;
    height: 100px;
    background: #5BCFF3;
    z-index: 2000;
}
#header .inner{
    position: relative;
    width: 1200px;
    height: 100px;
    margin: auto;

}
#header .inner .logo{
    position: absolute;
    top: 0;
    left: 0;
}
#header .inner .logo img{
    height: 100px;
}
#header .inner .navigation{
    position: absolute;
    top: 30px;
    right: 0;
}
#header .inner .navigation ul{
}
#header .inner .navigation ul li{
    list-style-type: none;
    display: inline-block;
    font-size: 25px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    color: #000;
    padding-left: 25px;
}
#header .inner .navigation a{
    color: #123046;
}
#header .inner .navigation a:hover{
    color: #008AAC;
}
#header .inner .navigation .active{
    color: #008AAC;
}


